%h3
  Group

= link_to 'Edit', edit_group_path(@group)

Name: 
= @group.name

%h4
  Add member to group:
= form_tag invite_group_path do
  = text_field_tag :email
  = submit_tag 'Invite'
  
%h4
  All members
%ul
  - @group.users.each do |user|
    = user.email

%h4
  All attachments to this group
%ul.images
  - @group.images.each do |image|
    %li
      = image.file_name

